#heading

{

color:red;

font-size:80px;

background-color:yellow;

text-align:center;

}

body

{

margin:0;

padding:0;

background-color:#abcadeba;

font-family:'arial';

}

.login

{

width:300px;

overflow:hidden;

margin:auto;

margin:20px 0 0 50px;

padding:30px;

padding-left:70px;

background:green;

border-radius:55px;

}

h2

{

text-align:center;

color:#277582;

padding:20px;

}

label

{

color:red;

font-size:17px;

}

#uname

{

width:200px;

height:30px;

border:none;

border-radius:3px;

padding-left:8px;

}

#pass

{

width:200px;

height:30px;

border:none;

border-radius:3px;

padding-left:8px;

}

#log

{

width:100px;

height:30px;

border:none;

border-radius:5px;

padding-left:7px;

color:blue;

}

span

{

color:yellow;

font-size:17px;

}

a

{

float:right;

background-color:lightgreen;

}
